.selecter {
    position: relative;
    height: 38px;
    border: 1px #D3DCE6 solid;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    font-size: 14px;
    vertical-align: top;
    background: #fff;
}
.selecter:after{
    content: '';
    display: block;
    position: absolute;
    right:0;
    width:17px;
    height:38px;
    border-left: 1px solid #D5D5D5;
    background: rgb(238, 238, 238) url('./images/arrow-down.png') no-repeat center center;
}
.selecter.active:after {
    background-image: url('./images/arrow-up.png');
}

.selecter.disabled {
    background-color: #f8f8f8;
}

.selecter .input {
    text-indent: 12px;
    height: 38px;
    width: 80%;
    cursor: pointer;
    position: absolute;
    line-height: 38px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selecter .select-options {
    position: absolute;
    top: 38px;
    left: -1px;
    width: 100%;
    background: #fff;
    border: 1px #ddd solid;
    display: none;
    max-height: 202px;
    overflow: auto;
    zoom: 1;
    z-index: 1000;
}

.selecter.active .select-options {
    display: block;
}

.selecter .select-option {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    cursor: pointer;
    text-indent: 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selecter .select-option:hover {
    background-color: #f6f6f6;
}
