.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border: 1px solid #DCDFE6;
    background: #fff;
}
/**START: reset left-menu **/
.el-menu {
    border-right: none;

    .el-icon-setting {
        margin-top: -2px;
    }
}
.el-menu,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background-color: #f0f2f5;
}
.el-submenu .el-menu-item {
    padding-left: 55px!important;
}
/**END: reset left-menu **/

/**START: reset pagination **/
.el-pagination {
    float: right;
    margin-top: 30px;
}
/**END: reset pagination **/

/**START: reset table **/
.el-table {
    &__header {
        thead tr th {
            background-color: #f5f7fa;
        }
    }
}
/**END: reset table **/

/**START: reset dialog **/
.el-dialog {
    &__header {
        padding: 13px 20px;
        background-color: #f5f7fa;
    }
    &__title {
        font-weight: bold;
    }
}
/**END: reset dialog **/

/**START: reset edit disabled **/
.edit {
    .el-input.is-disabled {
        .el-input__inner {
            border: none;
            background-color: #fff;
            color: #606266
        }
        .el-select__caret {
            display: none;
        }
    }

    .el-textarea.is-disabled {
        border: none;
        position: relative;
        margin-top: 5px;

        .el-textarea__inner {
            border: none;
            background-color: #fff;
            color: #606266;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            right: 0;
            bottom: 0;
            background: #fff
        }
    }
    .el-radio {
        &.is-disabled:not(.is-checked) {
            display: none;
        }
        &.is-disabled.is-checked  {
            .el-radio__inner {
                display: none
            }
            .el-radio__label {
                color: #606266;
                font-weight: normal
            }
        }
    }
}
/*END reset edit disabled */
