/* el-button */

$red: #fc634d;
$redHover: #e9533e;

.el-button--default {
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;

    &.is-plain {
        background: #FFF;
        border: 1px solid #DCDFE6;
        color: #606266;
    }

    &:focus,
    &:hover,
    &:active,
    &:visited,
    &.is-active {
        background: #FFF!important;
        border: 1px solid #DCDFE6!important;
        color: #606266!important;
    }
}

.el-button--primary {
    background: $red;
    border: 1px solid $red;
    color: #fff;

    &.is-plain {
        background: #fff;
        border: 1px solid $red;
        color: $red;
    }
    &:focus,
    &:hover,
    &:active,
    &:visited,
    &.is-active {
        background: $redHover!important;
        border: 1px solid $redHover!important;
        color: #fff!important;
    }
}

.el-button--text {
    color: $red;
    &:focus,
    &:hover,
    &:hover,
    &:active,
    &:visited,
    &.is-active {
         color: $redHover!important;
    }
}
/* el-table */
.el-table {
  border-color: #d5d5d5 !important;
  color: #666 !important;
}
.el-table--border td,
.el-table--border th {
  border-right: 1px solid #d5d5d5 !important;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #d5d5d5 !important;
}
.el-table::after,
.el-table::before {
  background-color: #d5d5d5 !important;
}
.el-table .cell,
.el-table th > div {
  padding: 0 10px !important;
}
.el-table--border th:not(:last-child) {
  border-right: none !important;
}
.el-table th {
  background: #f6f6f6 !important;
}
.el-table__fixed-header-wrapper thead div,
.el-table__header-wrapper thead div {
  background: #f6f6f6 !important;
  color: #666 !important;
}
.el-table__fixed-right::before,
.el-table__fixed::before {
  width: auto !important;
}
.el-table__body tr.hover-row > td {
  background-color: #f8f8f8 !important;
}

/* el-table */
.el-input__inner:focus {
  border-color: #fc6246 !important;
}
.el-date-editor input {
  color: #666666 !important;
  border: solid 1px #d5d5d5 !important;
  cursor: pointer !important;
}
.el-date-editor .el-icon-date {
  background: url('./images/icon.png') no-repeat center center !important;
  cursor: pointer !important;
}
.el-date-editor .el-icon-date:before {
  content: '';
}

/* el-radio */
.el-radio__input.is-checked .el-radio__inner {
  border-color: #ff613e !important;
  background: #ff613e !important;
}
.el-radio__inner:hover {
  border-color: #ff613e !important;
}
.el-radio__inner {
  border-color: #aaa !important;
}
.el-radio__label {
  vertical-align: middle !important;
}
/* el-radio */
/* el-checkbox */
.el-checkbox__inner {
  width: 15px !important;
  height: 15px !important;
  background-image: linear-gradient(
    -180deg,
    #ffffff 0%,
    #ebebeb 97%
  ) !important;
  border-radius: 2px !important;
  border: 1px solid #aaaaaa !important;
}
.el-checkbox__inner:after {
  width: 3px !important;
  height: 6px !important;
  left: 4px !important;
  top: 2px !important;
}
.el-checkbox__inner:hover {
  border-color: #fc634d !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #fc634d !important;
  border-color: #fc634d !important;
  background-image: none !important;
}
.el-checkbox__label {
  padding-left: 10px !important;
}
/* el-checkbox */

/* el-sort*/
.el-table .caret-wrapper {
  height: 14px !important;
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: rgb(252, 99, 77) !important;
}
.el-table .descending .sort-caret.descending {
  border-top-color: rgb(252, 99, 77) !important;
}
.el-table .sort-caret.ascending {
  top: -5px !important;
}

.el-table .sort-caret.descending {
  bottom: -4px !important;
}
.el-table .success-row {
  background: rgb(245, 247, 250) !important;
}
/* el-sort*/

.el-checkbox__label {
  vertical-align: middle !important;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #000 !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #606266 !important;
}
.el-input--suffix .el-input__inner {
  padding-right: 0 !important;
}

/*********************************************fix bug**************************************************/
.el-dialog--small {
  width: auto !important;
}
.el-table .cell {
//   white-space: nowrap !important;
}
.el-loading-mask {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
/*********************************************fix bug end**********************************************/

/* patches */
.el-date-editor {
  height: 40px !important;;
}
.el-date-editor input {
  height: 40px !important;;
  border-radius: 0 !important;
}

/* pagenation redefine*/
.el-pager li {
  padding: 0 4px  !important;
  background: #fff  !important;
  font-size: 13px  !important;
  min-width: 28px  !important;
  height: 28px  !important;
  line-height: 28px  !important;
  text-align: center  !important;
  margin-left: 10px  !important;
  border: 1px solid #d1dbe5  !important;
  box-sizing: border-box  !important;
}
.el-pager li.active {
  border-color: #fc634d  !important;
  background-color: #fc634d  !important;
  color: #fff  !important;
  cursor: default  !important;
}
.el-pager li.active + li {
  border-left: 1px solid #d3dce6  !important;
}
.el-pager li:hover {
  color: #fff  !important;
  background-color: $red  !important;
}
.el-pagination {
  padding: 30px 0  !important;
  text-align: right  !important;
}
.house-analysis .el-pagination {
  padding: 15px 0  !important;
  text-align: center  !important;
}
.el-pagination .btn-prev {
  background: 50% no-repeat #fff  !important;
  background-size: 16px  !important;
  border: 1px solid #d1dbe5  !important;
  padding: 0  !important;
  min-width: 28px  !important;
}
.el-pagination .btn-next {
  background: 50% no-repeat #fff  !important;
  background-size: 16px  !important;
  border: 1px solid #d1dbe5  !important;
  padding: 0  !important;
  min-width: 28px  !important;
  margin-left: 10px  !important;
}
.el-pagination .btn-prev:hover {
  color: #fc634d !important;
}
.el-pagination .btn-next:hover {
  color: #fc634d !important;
}
.el-icon-arrow-left:before {
  /*content:'上一页';*/
}
.el-icon-arrow-right:before {
  /*content: "下一页";*/
}
.el-pagination .el-pagination__sizes {
  float: left  !important;
}
.el-select-dropdown__item.selected,
.el-select-dropdown__item.hover,
.el-select-dropdown__item.selected.hover {
  color: #666  !important;
  background: #f6f6f6  !important;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #d5d5d5  !important;
}
.el-date-editor input {
  color: #666666  !important;
  border: solid 1px #d5d5d5  !important;
  cursor: pointer  !important;
}
.el-date-editor .el-icon-date {
  background: url('./images/icon.png') no-repeat center center  !important;
  cursor: pointer  !important;
}
.el-date-editor .el-icon-date:before {
  content: '' !important;
}

.el-date-table td.today span {
    color: $red !important;
}

.el-date-table td span:hover {
    color: $red !important;
}
.el-popover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #dfe6ec !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  color: #ffffff !important;
  line-height: 18px !important;
}
.el-popover[x-placement^='bottom'] .popper__arrow {
  border-bottom-color: rgba(0, 0, 0, 0.6) !important;
}
.el-popover[x-placement^='bottom'] .popper__arrow::after {
  border-bottom-color: rgba(0, 0, 0, 0.6) !important;
}
/* .el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
    background-color: #FC634D!important;
    color: #fff;
} */

.el-date-table td.current:not(.disabled) span {
  background-color: #fc634d !important;
  color: #fff !important;
}
.el-date-table td.today:before {
  border-top-color: #fc634d !important;
}
.el-time-panel__content:after,
.el-time-panel__content:before {
  background-color: #fc634d !important;
}
.el-picker-panel__link-btn {
  color: #333 !important;
}
.el-time-panel__btn.confirm {
  color: #fc634d !important;
}
/* img-loading */
.img-loading {
  background: url('./images/loading.gif') no-repeat center center !important;
}
/* img-loading */

/* table fixed **/
table {
  table-layout: fixed;
}
table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* table fixed **/

a.link {
  color: #333333;
}
a.link:hover {
  color: #ee4433;
}
a.global-link {
  color: #333333 !important;
}
a.global-link:hover {
  color: #ee4433 !important;
}

/*通用表格start*/
.global-common-table {
  width: 100%;
  /*height: 60px;*/
  text-align: center;
  border: solid 1px #dfdfdf;
  border-top: none;
  background-color: #fff;
  font-size: 14px;
  color: #666666;
}

.global-common-table .header {
  height: 32px;
  border-top: solid 1px #dfdfdf;
  box-shadow: 0px 1px 1px #fff inset;
  background-color: #f6f6f6;
  text-align: center;
}

.global-common-table th {
  text-align: center;
}

.global-common-table tr,
.global-common-table td {
  height: 44px;
  border: solid 1px #d5d5d5;
}

.global-common-table td {
  padding: 0 5px;
}

.global-common-table .title {
  padding: 0px 19px;
  text-align: left;
}
/*通用表格end*/

/* global-input */
.global-input {
  width: 150px;
  padding-left: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  height: 100%;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.global-input-err {
  background: #fdeceb !important;
  border-color: #e43 !important;
  border-width: 1px;
}
.global-input-err-tip {
  height: 40px;
  min-width: 16px;
  display: inline-block;
  padding-left: 30px;
  background: url('./images/icon-err.png') no-repeat 10px center;
  font-size: 12px;
  color: #e43;
  vertical-align: top;
  line-height: 40px;
}
/* global-input */

/* placeholder-hack */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
/* placeholder-hack */

/* input type="number" 默认样式 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* input type="number" 默认样式 */

.table-cell-gray {
  color: rgb(153, 153, 153);
}
