@import "./reset.scss";
@import "./elem.scss";
@import "./font.scss";

body, html {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    font-family: PingFang SC,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,\\5B8B\4F53,simsun,sans-serif;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
    &:after {
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
        width: 0;
        clear: both;
    }
}

.header {
    height: 60px;
  }
  .content {
    background: #eff2f7;
    /*overflow: hidden;*/
  }
  .content .left-slider {
    width: 200px;
    float: left;
  }

  .content .main-content {
    height: 100%;
    overflow-y: auto;
    margin-left: 200px;
    background: #fff;
  }
